In [1]:
import pandas as pd

df = pd.read_csv("fr-esr-referentiel-geographique.csv", delimiter=";", encoding="utf-8")
print(df.columns)

Index(['REGRGP_NOM', 'REG_NOM', 'REG_NOM_OLD', 'ACA_NOM', 'DEP_NOM',
       'COM_CODE', 'COM_CODE1', 'COM_CODE2', 'COM_ID', 'COM_NOM_MAJ_COURT',
       'COM_NOM_MAJ', 'COM_NOM', 'UU_CODE', 'UU_ID', 'UUCR_ID', 'UUCR_NOM',
       'UU_WIKIDATA', 'UU_PAYSAGE', 'ZE_ID', 'DEP_CODE', 'DEP_ID',
       'DEP_NOM_NUM', 'DEP_NUM_NOM', 'DEP_WIKIDATA', 'DEP_PAYSAGE',
       'NUTS_CODE_3', 'ACA_CODE', 'ACA_ID', 'ACA_WIKIDATA', 'ACA_PAYSAGE',
       'REG_CODE', 'REG_ID', 'REG_WIKIDATA', 'NUTS_CODE_1', 'REG_PAYSAGE',
       'REG_CODE_OLD', 'REG_ID_OLD', 'FD_ID', 'FR_ID', 'FE_ID', 'UU_ID_10',
       'UU_ID_99', 'AU_CODE', 'AU_ID', 'AUC_ID', 'AUC_NOM', 'EPCI_ID',
       'EPCI_NOM', 'ATLAS_ID', 'ATLAS_NOM', 'ATLAS_WIKIDATA', 'ATLAS_PAYSAGE',
       'geolocalisation', 'COM_NOM_DEBUT', 'COM_NOM_FIN', 'COM_NOM_ANCIENS',
       'COM_NOM_ANCIENS_DATES', 'COM_CODE_ACTUEL', 'COM_CODE_ACTUEL_DEPUIS'],
      dtype='object')

In [2]:
df_clean = df[["COM_CODE", "COM_NOM", "AUC_NOM", "geolocalisation"]]

In [4]:
df_clean

,COM_CODE,COM_NOM,AUC_NOM,geolocalisation
0,38029,La Bâtie-Montgascon,Lyon,"45.575472151, 5.54225415"
1,38031,Beaufin,Beaufin,"44.787010753, 5.959065924"
2,38052,Le Bourg-d'Oisans,Le Bourg-d'Oisans,"45.027600374, 6.057662306"
3,38057,Bresson,Grenoble,"45.133467078, 5.750971271"
4,38058,Brézins,Grenoble,"45.345189216, 5.307915528"
...,...,...,...,...
562,38333,Rencurel,Rencurel,"45.118116503, 5.472626966"
563,38342,Roissard,Grenoble,"44.88451251, 5.635042699"
564,38349,Sablons,Sablons,"45.32156761, 4.784566108"
565,38399,Saint-Jean-de-Bournay,Lyon,"45.498252205, 5.147560058"
566,38476,Savas-Mépin,Lyon,"45.497090764, 5.061887329"

In [5]:
df_clean = df[["COM_CODE", "COM_NOM", "AUC_NOM", "geolocalisation"]].copy()

In [6]:
for col in df_clean.columns:
    df_clean[col] = df_clean[col].astype(str)

In [7]:
df_clean.to_csv("clean_output.csv", index=False, sep=";", encoding="utf-8")